html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Oswald', sans-serif; }

.container-fluid {
  padding: 0px; }

header {
  filter: grayscale(80%);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background/hero.jpg) no-repeat;
  background-size: 100% 100%;
  height: 90vh;
  padding-bottom: 50px; }
  header h1 {
    font-size: 50px;
    color: #fff; }
  header p {
    color: #fff; }
  header img {
    width: 200px;
    height: 200px; }
  header .explore-us {
    width: 130px;
    height: 40px;
    border-radius: 0;
    color: #fff;
    background: #000;
    transition: 0.3s; }
    header .explore-us:hover {
      color: #fff; }

nav .img {
  width: 50px;
  height: 50px; }

.about {
  padding: 50px 0px 50px 0px;
  background: url(../images/illustration/logo2.png) no-repeat;
  background-position: center; }
  .about a {
    margin-top: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #602e28;
    color: #fff;
    filter: grayscale(80%);
    transform: rotate(45deg);
    text-decoration: none;
    transition: 1s; }
    .about a i {
      color: #fff;
      transform: rotate(-45deg); }
    .about a:nth-child(2) {
      margin-left: 50px;
      margin-right: 50px; }
    .about a:hover {
      filter: grayscale(60%);
      background: #000; }

.services {
  padding: 50px 0px 50px 0px; }
  .services .service {
    width: 95%;
    padding: 30px 20px 30px 20px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 0px  1px #602e28;
    margin-top: 20px;
    filter: grayscale(80%);
    transition: 0.3s; }
    .services .service:hover {
      box-shadow: 10px 10px 0px  2px #000; }
    .services .service:hover i {
      opacity: 0.8; }
    .services .service i {
      font-size: 50px;
      opacity: 0.5;
      margin: 20px 0px 20px 0px;
      transition: 0.3s; }
    .services .service h4 {
      font-family: 'Oswald', sans-serif; }
    .services .service p {
      margin-top: 20px;
      font-size: 14px; }

.portfolio {
  padding: 50px 0px 50px 0px; }
  .portfolio h1 {
    padding-bottom: 30px; }
  .portfolio .work {
    height: 300px;
    filter: grayscale(100%);
    transition: 0.3s; }
    .portfolio .work img {
      width: 100%;
      height: 100%; }
    .portfolio .work h4 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 10px;
      background: #000;
      color: #fff;
      visibility: hidden;
      transition: 0.3s;
      transition-delay: 0.5s; }
    .portfolio .work:hover {
      filter: grayscale(0%); }
    .portfolio .work:hover h4 {
      visibility: visible; }
  .portfolio button {
    width: 130px;
    height: 40px;
    border: 0;
    color: #fff;
    background: #000; }

.counter {
  padding: 50px 0px 50px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background/parallex.jpg);
  background-size: 100% 200%;
  background-attachment: fixed;
  min-height: 400px; }
  .counter .count {
    color: #fff;
    height: 100px;
    text-align: center; }
    .counter .count .count1 {
      text-align: center; }

.team {
  padding: 50px 0px 50px 0px; }
  .team h1 {
    padding-bottom: 30px; }
  .team figure {
    width: 90%;
    margin: 0 auto;
    transition: 0.3s;
    background: #fff;
    padding-bottom: 30px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4); }
    .team figure img {
      width: 100%; }
    .team figure figcaption {
      margin-top: 30px; }
    .team figure h5 {
      margin-left: 20px;
      margin-bottom: 0px !important; }
    .team figure small {
      margin-left: 20px;
      padding-top: 50px;
      font-weight: 500 !important; }
    .team figure p {
      padding-top: 10px;
      margin-left: 20px; }
    .team figure a {
      width: 30px;
      height: 30px;
      outline: 1px solid #000;
      color: #602e28;
      filter: grayscale(80%);
      text-decoration: none;
      transition: 0.4s; }
      .team figure a:hover {
        outline: 1px solid #602e28;
        color: #fff;
        background: #000; }

.review {
  padding: 50px 0px 50px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background/parallex.jpg);
  background-size: 100% 100%;
  background-attachment: fixed; }
  .review .item img {
    width: 120px;
    height: 120px;
    border-radius: 50%; }
  .review .item p {
    margin-top: 30px;
    color: #fff; }

.contact {
  padding: 50px 0px 50px 0px; }
  .contact h1 {
    padding-bottom: 30px; }
  .contact .map {
    filter: grayscale(100%); }
  .contact .text-input {
    border-radius: 0px !important;
    border: 3px solid #ccc;
    height: 50px;
    outline: none !important; }
    .contact .text-input:nth-child(2) {
      margin: 30px 0px 30px 0px; }
    .contact .text-input:nth-child(3) {
      margin: 0px 0px 30px 0px; }
    .contact .text-input:focus {
      border: 3px solid #000;
      outline: none !important; }
  .contact .textarea {
    border-radius: 0px !important;
    border: 3px solid #ccc;
    height: 130px;
    outline: none !important; }
    .contact .textarea:focus {
      border: 3px solid #000;
      outline: none !important; }
  .contact .button {
    width: 130px;
    height: 40px;
    outline: 3px solid #ccc;
    border: 0;
    background: #fff;
    margin: 30px 0px 0px 3px;
    transition: 0.3s; }
    .contact .button:hover {
      background: #000;
      color: #fff;
      outline: 3px solid #000; }

footer {
  background: #602e28;
  filter: grayscale(80%);
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
